/* @charset "UTF-8"; */
/* :nth-child(2n) */
* {
	background-color: #F5DEB3;
}

nav {
	margin-top: 50px;
	margin-bottom: 50px;
}

nav a {
	float: left;
	margin-right: 10px;
	background-color: lightgreen;
	border-radius: 8px;
	width: 120px;
	padding-top: 5px;
	text-decoration: none;
	list-style: none;
	padding-bottom: 5px;
}

nav ul li {
	/* 	float: left;
	margin-right: 20px;
	border-radius: 8px; */
	list-style: none;
	text-align: center;
	/* 	width: 200px;
	padding-top: 5px; */
}

#coverPic {
	width: 30%;
}

.homeButtons {
	
}

#forecast-content {
	
}
/* .images {
	width: 100%
} */
.tableImages {
	width: 50%
}