/* @charset "UTF-8"; */
/* :nth-child(2n) */
* {
	background-color: #F5DEB3;
}

#coverPic {
	width: 30%;
}

.homeButtons {
	
}

#forecast-content {
	
}
/* .images {
	width: 100%
} */

.tableImages {
	width: 50%
}